xml/XMLSpySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="T_state">
		<xs:sequence>
			<xs:element ref="dim-def" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_ref">
		<xs:attribute name="var" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="i"/>
					<xs:enumeration value="r"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_md_doc" mixed="true">
		<xs:sequence>
			<xs:element ref="state"/>
			<xs:element ref="choice" maxOccurs="unbounded"/>
			<xs:element ref="let"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_let">
		<xs:sequence>
			<xs:element ref="def"/>
			<xs:element ref="let" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="var" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="i"/>
					<xs:enumeration value="r"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_dim-def">
		<xs:attribute name="sel-tag" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1.4"/>
					<xs:enumeration value="Trial"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Release"/>
					<xs:enumeration value="version"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_def" mixed="true">
		<xs:sequence>
			<xs:element ref="choice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_choice" mixed="true">
		<xs:sequence>
			<xs:element ref="alt" maxOccurs="unbounded"/>
			<xs:element ref="choice" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Release"/>
					<xs:enumeration value="version"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_alt" mixed="true">
		<xs:sequence>
			<xs:element ref="ref" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="tag" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1.4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="Full"/>
					<xs:enumeration value="Trial"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="state" type="T_state"/>
	<xs:element name="ref" type="T_ref"/>
	<xs:element name="md_doc" type="T_md_doc"/>
	<xs:element name="let" type="T_let"/>
	<xs:element name="dim-def" type="T_dim-def"/>
	<xs:element name="def" type="T_def"/>
	<xs:element name="choice" type="T_choice"/>
	<xs:element name="alt" type="T_alt"/>
</xs:schema>
